.footer__column-link {
    color: white;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
  }