
.header__tittle {
    margin: 0;
    width: 730px;
    position: absolute;
    left: 64px;
    align-self: center;
    z-index: 2;
    font-size: 102px;
    font-weight: 600;
    line-height: 96px;
  }